@import '../../../../assets/scss/variables.scss';

.card{
  box-shadow: 0 1px 3px 0 #c6cad5!important;

  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleHeader{
      flex: 1 25%;

      span{
        color: $primary-text-color!important;
        font-weight: bold;
        font-size: $font-size-regular;
        text-transform: uppercase;
        width: calc(100% - 20px);
      }
    }

    .titleIcons{
      justify-content: flex-end;
      margin: 0 10px;

      svg{
        font-size: 18px;
        color: $secondary-icon-color;
      }
    }
  }

}