@import '../../../../assets/scss/variables.scss';

.container{  
  .sendPanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    > div{
      margin-right: 20px;
    }
  }
}
